{%block content %}

<body style="background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url('https://images.pexels.com/photos/4386339/pexels-photo-4386339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); background-size: cover; background-repeat: no-repeat">

<div style="text-transform:uppercase;"><h1><center>Pay Details</center></h1></div>

<ul>
{% for item in all %}
    <div style="text-transform:uppercase;"><strong><b>Name : {{item.Name}}</b></strong><br/><br/></div>
    <br/><li>MonthSalary : {{item.MonthSalary}}</li>
    <li>WorkingDays : {{item.WorkingDays}}</li>
    <li>BasicSalary : {{item.BasicSalary}}</li>
    <li>HRASalary : {{item.HRASalary}}</li>
    <li>MediClaimSalary : {{item.MediClaimSalary}}</li>
    <li>TASalary : {{item.TASalary}}</li>
    <li>DASalary : {{item.DASalary}}</li>
    <li>ReimbursementSalary : {{item.ReimbursementSalary}}</li>
    <li>CASalary : {{item.CASalary}}</li>
    <li>DPFSalary : {{item.DPFSalary}}</li>
    <li>DTAXSalary : {{item.DTAXSalary}}</li>
    <li>DeductionSalary : {{item.DeductionSalary}}</li><br/>
    <div style="text-transform:uppercase;"> Total : <b>{{item.Total}}</b><br/></div>
<hr>
{% endfor %}
</ul>

</body>
</html>
                {% endblock %}
